</main>

<footer class="  py-4 mt-auto">
  <div class="container text-center">
    <ul class=" nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/index" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 ">About</a></li>
    </ul>
    <p class="text-center copyright  mb-0">© <%= new Date().getFullYear() %> OmarAlrai</p>
  </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</html>
